{{range .Widgets}}
  <div class="header-widget header-widget-{{.Type}}">
    {{if eq .Type "greeting"}}
      <span class="greeting">{{.Greeting}}</span>
    {{else if eq .Type "datetime"}}
      <span class="clock" data-clock data-format="{{.Format}}"></span>
    {{else}}
      {{if .Err}}
        <span class="err">{{.Err}}</span>
      {{else}}
        {{range .Fields}}<span class="header-field"><span class="label">{{.Label}}</span> {{.Value}}</span>{{end}}
      {{end}}
    {{end}}
  </div>
{{end}}
